*{
  margin: 0;
  padding: 0;
}
.mainPage{
  display: flex;
  background-color: white;
  height: 100vh;
  overflow: scroll;
  
}
.leaflet-container {
  width: 60%;
  height: 100vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  width: 40%;
}


form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: rgb(196, 196, 196);
  align-items: left;
}

form > div{
  margin-bottom: 10px;
}

input{
  padding:2px;
  margin-left: 20px
}

form > button {
 width: 80px;
}

.workout-container{
  background-color: rgba(149, 104, 233, 0.822);
  margin: 10px;
  padding: 10px;
 
}

.workout-info{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons{
  display: flex;
  padding: 10px;
}

button{
  width: 50px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease 0s;
  
}


button:hover{
  background-color:rgba(101, 255, 170, 0.822);
  
}